---
import { SITE } from "@utils/site.config.mjs";
import Layout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import Card from "@components/FeaturedPostCard.astro";
import LinkButton from "@components/LinkButton.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);

const recentPosts = posts.slice(0, SITE.recentPosts);
---

<Layout>
  <section>
    <Hero />
    <section class="mt-12 px-4 py-6 sm:px-6 mx-auto max-w-4xl">
      <div>
        <ul>
          {
            recentPosts.map((post) => (
              <li class="mb-10 md:mb-16">
                <Card post={post} />
              </li>
            ))
          }
        </ul>
      </div>
      <LinkButton label="Read more posts →" link="/blog" />
    </section>
  </section>
</Layout>
