---
import Layout from "@layouts/BaseLayout.astro";
import PageHeading from "@components/PageHeading.astro";
---

<Layout>
  <PageHeading>Hey</PageHeading>
  <div class="mx-auto text-center">
    <p class="text-xl mt-4 mb-8">Thanks for getting in touch!</p>
  </div>
</Layout>
