---
---

<section>
  <div class="max-w-3xl mx-auto mt-10 px-4 sm:px-6 mb-4">
    <div class="text-center">
      <h1
        class="text-5xl md:text-[3.50rem] font-bold tracking-tight leading-tighter"
      >
        <slot />
      </h1>
    </div>
  </div>
</section>
