---
import { Icon } from "astro-icon";

export interface Props {
  icon: string;
  label: string;
  link: string;
}

const { icon, label, link } = Astro.props;
---

<a
  class="text-zinc-600 dark:text-zinc-300 -m-1 p-1"
  aria-label={label}
  target="_blank"
  rel="noopener"
  href={link}
>
  <Icon
    name={icon}
    class="w-6 h-6 hover:text-zinc-800 hover:dark:text-zinc-50"
  />
</a>
